<layout id="Settings">
    <label id="quarterLength" text="Quarter Length: " x="center" y="15%" font="Gfx.FONT_MEDIUM" justification="Graphics.TEXT_JUSTIFY_CENTER" />
    
    <drawable id="ql_8_btn" />
    <label id="quarterLength_8"  text="8"  x="12%" y="30%" font="Gfx.FONT_MEDIUM" justification="Graphics.TEXT_JUSTIFY_CENTER"/>
    <drawable id="ql_10_btn" />
    <label id="quarterLength_10" text="10" x="37%" y="30%" font="Gfx.FONT_MEDIUM" justification="Graphics.TEXT_JUSTIFY_CENTER" />
    <drawable id="ql_12_btn" />
    <label id="quarterLength_12" text="12" x="62%" y="30%" font="Gfx.FONT_MEDIUM" justification="Graphics.TEXT_JUSTIFY_CENTER" />
    <drawable id="ql_15_btn" />
    <label id="quarterLength_15" text="15" x="87%" y="30%" font="Gfx.FONT_MEDIUM" justification="Graphics.TEXT_JUSTIFY_CENTER" />

    
    
    <label id="numQuarters" text="# Quarters: " x="center" y="45%" font="Gfx.FONT_MEDIUM" justification="Graphics.TEXT_JUSTIFY_CENTER" />
    <drawable id="nq_1_btn" />
    <label id="numQuarters_1"  text="1"  x="12%" y="60%" font="Gfx.FONT_MEDIUM" justification="Graphics.TEXT_JUSTIFY_CENTER"/>
    <drawable id="nq_2_btn" />
    <label id="numQuarters_2" text="2" x="37%" y="60%" font="Gfx.FONT_MEDIUM" justification="Graphics.TEXT_JUSTIFY_CENTER" />
    <drawable id="nq_3_btn" />
    <label id="numQuarters_3" text="3" x="62%" y="60%" font="Gfx.FONT_MEDIUM" justification="Graphics.TEXT_JUSTIFY_CENTER" />
    <drawable id="nq_4_btn" />
    <label id="numQuarters_4" text="4" x="87%" y="60%" font="Gfx.FONT_MEDIUM" justification="Graphics.TEXT_JUSTIFY_CENTER" />


</layout>
